@import "base.css";
@import "style.css";
@media screen and (max-width: 720px) {
  .collant .cate-img-list {
    gap: 0 0;
  }
  .category-content .product-item {
    width: 45%;
    height: auto;
    min-width: 0;
    gap: 35px 0;
  }
  .best-saler-category:first-child{
    display: none;
  }
  .best-saler-category:last-child{
    display: none;
  }
  .category-content .product-item > img {
    width: 169px;
    height: 169px
  }
  .category-content .product-list {
    flex-wrap: wrap;
    gap: 30px 30px;
    padding: 10px;
    justify-content: center;
  }
  .product-summary {
    width: 169px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  #best-saler .product-card {
    flex-direction: row;
  }
  #best-saler .product-description {
    display: flex;
    max-height: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #best-saler .product-description {
    font-size: 13px;
  }
  #best-saler .product-description .product-title{
    /* line-height: 1.5em;
    height: 3em;     
    overflow: hidden; */
  }
  #best-saler .product-description .product-title{
    display: inline;
    order: 1;
  }
  #best-saler .product-description .product-quantity{
    font-size:10px;
    order: 2;
  }
  #best-saler .product-description .product-price{
    order: 3;
  }
  .category-content
    > .container-mobile
    > .best-seller
    > .product-list
    > .product-sumary
    > img {
    width: 20px;
    height: 20px;
  }
}
